<!-- <router-outlet></router-outlet> -->
<div style="display:flex;flex-direction:column;min-height:100vh;width:100vw; background-color:whitesmoke">
  <span style="flex: 1;"></span>
  <div style="margin:0 200px;">

    <h1>SUBJECT</h1>
    <hr>
    <div style="display:flex;" class="parent-head">
      <div style="text-align:left">
        Actions
        <p style="margin:0; color:gray;">Move, Indent, Outdent, Delete</p>
      </div>
      <div style="text-align:left; margin-left: 40px;">
        Standard
        <p style="margin:0; color:gray;">The text of standard</p>
      </div>
    </div>
    <div style="display:flex;justify-content:space-around;">
      <div cdkDropList class="parent-list" (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let ele of data;let i=index" cdkDrag>
          <div style="display:flex; padding:12px;">
            <mat-icon cdkDragHandle style="cursor: move;" class="icn primary">
              open_with
            </mat-icon>
            <mat-icon (click)="indent('dec',i)" class="icn primary">arrow_back</mat-icon>
            <mat-icon (click)="indent('inc',i)" class="icn primary">arrow_forward</mat-icon>
            <mat-icon (click)="deleteItem(i)" class="icn delete">delete</mat-icon>
          </div>
          <div id="text_{{i}}" [ngStyle]="{'margin-left':appendPx(ele.indent)}" style="display:flex;">
            <div style="width:100%;height:100%; background-color:#b4b4b4; height:24px; padding: 10px 24px;"></div>
            <input type="text" placeholder="Type here" value="{{ele.title}}" #inp (change)="updateVal(i,inp.value)"
              style="margin-left:12px;" [ngStyle]="{'color':ele.indent==10?'#09c7cd':'black'}">
          </div>
        </div>
      </div>
    </div>

    <br>

    <button class="cs-button" (click)="addItem()">
      <span style="flex:1"></span>
      <mat-icon inline="true" style="width:fit-content;">add_circle_outline</mat-icon>
      Add a standard
      <span style="flex:1"></span>
    </button>

  </div>
  <span style="flex: 1;"></span>
</div>